body{
margin : 0;
padding : 0;
background-color : black;
}

h1 {
top: 50%
transform: translateY(-50%);
margin: 0;
padding: 0;
width: 100%;
text-align: center;
font-size : 75px;
font-family: sans-serif;
background: linear-gradient(to right, #ff006f, #ffa500, #ffc100, #3cff71, #4593d3, #3cb371, #3cff71, #ffc100, #ee82ee, #ee82ff);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
p {
	font-size: 20px;
	margin: 50px;
	background-color : #ffa500;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
